{% extends "default/frame.html.jinja2" %}
{% block head %}
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
            mermaid.initialize({ startOnLoad: true });
        </script>
        <style>
            .mermaid svg { height: auto; }
        </style>
{% endblock %}
