{% extends "default/index.html.jinja2" %}
{% block title %}anyBSM{% endblock %}

{% block nav %}
    <img src="https://gitlab.com/anybsm/anybsm/-/raw/main/anyBSM/logos/anyH3_logo_small.png?inline=false" class="logo" alt="anyBSM"/>
    <input type="search" placeholder="Search..." role="searchbox" aria-label="search"
                   pattern=".+" required>

{#    <h1>anyBSM</h1> #}
    {{all_modules['_mainpage'].docstring |to_html|attr("toc_html")|safe}}

    {{ super() }}
{% endblock %}

{% block content %}
    <main class="pdoc">
    {{all_modules['_mainpage'].docstring |to_html|safe}}

    </main>
    {% include "search.html.jinja2" %}
{% endblock %}
