<script>
    window.MathJax = {
        loader: {load: ['[tex]/color', '[tex]/ams']},
        tex: {
            packages: {'[+]': ['color', 'ams']},
            tags: 'ams', {# enable equation numbers as well as label and eqref commands #}
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            macros: {
                SARAH: "\\href{https://sarah.hepforge.org/}{\\color{lightblue}{\\tt SARAH}}",
                SPheno: "\\href{https://gitlab.in2p3.fr/goodsell/sarah/-/wikis/SPheno}{\\color{lightblue}{\\tt SPheno}}",
                FeynRules: "\\href{https://feynrules.irmp.ucl.ac.be/}{\\color{lightblue}{\\tt FeynRules}}",
                UFO: "\\href{https://arxiv.org/abs/1108.2040}{\\color{lightblue}{\\tt UFO}}",
                COLLIER: "\\href{https://collier.hepforge.org/index.html}{\\color{lightblue}{\\tt COLLIER}}",
                TikzFeynman: "\\href{https://www.sciencedirect.com/science/article/abs/pii/S0010465516302521}{\\color{lightblue}{\\tt TikZ-Feynman}}",
                SLHA: "\\href{http://skands.physics.monash.edu/slha/}{\\color{lightblue}{\\tt SLHA}}",
                pylha: "\\href{https://github.com/DavidMStraub/pylha}{\\color{lightblue}{\\tt pylha}}",
                anyBSM: "{\\color{lightblue} {\\tt anyBSM}}",
                anyH: "{\\color{lightblue} {\\tt anyH3}}",
                OS: "\\text{OS}",
                MS: "\\overline{\\text{MS}}",
                DR: "\\overline{\\text{DR}}",
                Lag: "\\mathcal{L}",
                anyHpaper: "\\href{https://arxiv.org/abs/2305.03015}{\\color{lightblue}{\\text{2305.03015}}}"
            }
        }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    /* Re-invoke MathJax when DOM content changes, for example during search. */
    document.addEventListener("DOMContentLoaded", () => {
        new MutationObserver(() => MathJax.typeset()).observe(
            document.querySelector("main.pdoc").parentNode,
            {childList: true}
        );
    })
</script>
<style>
    mjx-container {
        overflow-x: auto;
    }
</style>
