{% extends "default/module.html.jinja2" %}

{% macro module_name() %}
{% if 'examples' in module.modulename or 'models.' in module.modulename %}

{% if 'Mathematica' in module.modulename and not module.is_package %}
{%- set notebook = module.modulename.split('.')[-1] -%}
    <h1 class="modulename">
        <a href="https://gitlab.com/anybsm/anybsm_examples/-/raw/main/MathematicaExamples/{{notebook}}.nb?inline=false">{{ notebook }}</a>
    </h1>
{% elif 'Python' in module.modulename and not module.is_package %}
{%- set notebook = module.modulename.split('.')[-1] -%}
    <h1 class="modulename">
        <a href="https://gitlab.com/anybsm/anybsm_examples/-/raw/main/PythonExamples/{{notebook}}.ipynb?inline=false">{{ notebook }}</a>
    </h1>
{% endif %}
{% else %}
    {{ default_module_name() }}
{% endif %}
{% endmacro %}

{% block style %}
{{ super() | safe }}
{% if 'Mathematica' in module.modulename and not module.is_package %}
<style type="text/css">
.docstring img {
    width: auto;
    margin-left: 10px;
}
.pdoc p {
    margin-bottom: 0;
}
.pdoc, body {
    background: white;
}
.pdoc pre {
    border-top: 0;
    border-bottom: 0;
    background: #B0B0B021;
    border-right: ridge 1mm;
}
.pdoc code {
    color: black;
}

div.inout  {
float: left;
min-width: 0px;
margin-left: -30px;
text-align: right;
padding-right: 3px;
color: gray;
}
</style>
{% endif %}
{% endblock %}

{% block nav_index %}
    {# cleanup module.members (prevent empty "API Documentation" section) #}
    {% if module.members %} 
        {% if '__doc__' in module.members %}{% set _tmp = module.members.pop('__doc__') %}{% endif %}
        {% if '_details' in module.members %}{% set _tmp = module.members.pop('_details') %}{% endif %}
    {% endif %}
    {% if 'examples.' in module.modulename and not module.is_package %}
    {% set parentmodule = all_modules[".".join(module.modulename.split(".")[:-1])] %}
    {%- set notebook = module.modulename.split('.')[-1] -%}
        {% if 'Mathematica' in module.modulename %}
            <h2>{{ notebook }}.nb</h2>
            <ul>
                <li>
                    <a href="https://gitlab.com/anybsm/anybsm_examples/-/raw/main/MathematicaExamples/{{notebook}}.nb?inline=false">
                    Download this notebook here
                    </a>
                </li>
            </ul>
        {% elif 'Python' in module.modulename %}
            <h2>{{ notebook }}.ipynb</h2>
            <ul>
                <li>
                    <a href="https://gitlab.com/anybsm/anybsm_examples/-/raw/main/PythonExamples/{{notebook}}.ipynb?inline=false">
                    Download this notebook here
                    </a>
                </li>
            </ul>
        {% endif %}
        {{ super() | safe }}
        <h2>Examples</h2>
        <ul>
        {% for submodule in parentmodule.submodules if is_public(submodule) | trim %}
            <li>{{ submodule.taken_from | link(text=submodule.name) }}</li>
        {% endfor %}
        </ul>
    {% elif 'examples' in module.modulename %}
        {{ super() | safe |replace('Submodules', 'Examples Index') }}
    {% elif 'models.' in module.modulename %}
       {% set modelname = module.modulename.split('.')[-1] %}
       <h2>{{modelname}}</h2>
            <ul>
                <li><a href="https://gitlab.com/anybsm/anybsm_models/-/tree/main/{{modelname}}">UFO files</a></li>
                <li><a href="https://gitlab.com/anybsm/anybsm_models/-/blob/main/{{modelname}}/schemes.yml">schemes.yml</a></li>
                <li><a href="?search=examples.PythonExamples.{{modelname}}">Search Python Examples</a></li>
                <li><a href="?search=examples.MathematicaExamples.{{modelname}}">Search Mathematica Examples</a></li>
            </ul>
        {{ super() | safe |replace('Submodules', 'Model Index') }}
    {% else %}
        {{ super() | safe }}
    {% endif %}
{% endblock %}
